

body {
  background-image:url("https://static.pexels.com/photos/34578/pexels-photo.jpg");

  background-size: cover;
  background-repeat:repeat-y;
  background-position: top center;
  background-attachment: fixed;
}







.navbar-nav>li>.dropdown-menu {
	z-index: 9999;
}
